// Define variables for your color scheme

// For example:
$orange: #E67E22;
$yellow: #FDB547;
$green: #95C15E;
$main-green: #00B495;
$hover-green: #04AD8A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-orange: #F0A026;
