// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FDB547;
$green: #1EDD88;
$main-green: #D2E861;
$hover-green: #04AD8A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-orange: #F0A026;
