#dropdown-m {
  position: static;
  // top: 100%;
  // left: 0;
  // z-index: 1000;
  // float: left;

  float: none;
  // margin-bottom: 120px;
  // display: none;
  // min-width: 10rem;
  // padding: 0.5rem 0;
  // margin: 0.125rem 0 0;
  // font-size: 1rem;
  // color: #0E0000;
  // text-align: left;
  // list-style: none;
  // background-color: #fff;
  // background-clip: padding-box;
  // border: 1px solid rgba(0, 0, 0, 0.15);
  // border-radius: 2px;
}

.dropdown-men.show {
}

#dropdown-m.show {

  position: static;
  transform: none;
}
