<div class="navbar navbar-expand-sm navbar-light">
  <div class="navbar-container">
    <%= link_to items_path do %>
      <%= image_tag "emitless-logo.png", alt: "emitless logo", class: "navbar-header", id: "emitless-logo" %>
    <% end %>
    <div class="progression-bar">
      <ol class="nav">
        <li class="progression-bar-text nav-item">Create your grocery list</li>
          <h5 class="progression-bar-separator"></h5>
        <li class="progression-bar-text nav-item">Compare supermarkets</li>
          <h5 class="progression-bar-separator"></h5>
        <li class="progression-bar-text nav-item">Finalize your basket</li>
      </ol>
    </div>
  </div>
</div>


<%# if params[:controller] == "items/index" %>
<%# if params[:controller] == "wish_list_items/index" %>
<%# if params[:controller] == "baskets/show" %>
