document.querySelector('#wish-items-js').insertAdjacentHTML(
  'beforeend',
    `<div id="item-<%= @wish_list_item.id %>"><%= render 'shared/components/wish_item', wish_list_item: @wish_list_item %></div>`
)



