<h1 class="navbar-header" id="emitless-home"><%= link_to "emitless", items_path, class: "navbar-header white-text", id: "emtlss" %></h1>
<div class="background-retailer">
  <%= render 'shared/components/comparison' %>
</div>

