<h1>Your <%= @retailer.capitalize %> basket</h1>
<div class="container">
  <div class="row">
    <div class="col-8">
      <%= render 'shared/components/product_details' %>
    </div>
  </div>
</div>
