.icon-baskt {
  color: white;
  font-size: 27px;
}

.basket {
  position: sticky;
  top: 4px;
  height: 680px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.yr-baskt {
  color: white;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 600;
}

.wish-item {
  color: #FFFFFF;
  margin-bottom: 4px;
  line-height: 1;
  > img {
    width: 30px;
    height: 30px;
    margin: 0 8px;
  }
}

.wish-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 16px;
  height: 100%;
  background-color: $yellow;
  border-radius: 0 0 16px 16px;
  overflow: scroll;
}

.compare-button {
  padding: 12px 0;
  background-color: rgba(255, 255, 255, .3);
  width: 100%;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  background-color: #D2E861;
}

.basket {
  > .icon {
    width: 300px;
  }
}

.top-bskt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $orange;
  border-radius: 16px 16px 0px 0px;
  margin-top: 8px;
  display: inline-block;

    img.icon {
    height: 29px;
    width: 29px;
    float:left;
    margin-top: 11px;
    margin-right: 7px;
    margin-left: 7px;
  }
}

.con-btn {
  width: 100%;
  text-align: center;
}

.names-icon {
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid rgba(230,126,34,0.4);
  display: flex;
  align-items: center;
}

.names-icon:hover {
    #bin {
      transition: 0.4s;
      color: rgba(255, 255, 255, 0.8);
    }
  }

.cont-back {
  background-color: #FFEAE4;
}

#bin {
  color: rgba(255, 255, 255, 0);
}

.wish-item-actions {
  display: flex;
  align-items: center;
}

.wish-item-qty {
  text-align: center;
  position: relative;
  display: flex;
  top: 9px;
  min-width: 46px;
  > .wish-item {
    font-size: 16px;
  }
  > .wish-item-amount {
    font-size: 10px;
    color: white;
    margin-left: 4px;
  }
}



