.icon-baskt {
  color: white;
  font-size: 40px;
}

.basket {
  background-color: $primary;
  position: sticky;
  top: 4px;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.yr-baskt {
  color: white;
  padding-top: 8px;
}

.wish-item {
  color: white;
  margin-bottom: 16px;
}


.compare-button {
  background-color: rgba(255, 255, 255, .50);
  width: 220px;
}

.basket {
  img {
    width: 300px;
  }
}
.top-bskt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
