

.card-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  // line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  position: relative;
  justify-content: center;
  padding: 16px;
  margin: 0;
}


.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-img-top {
  height: 150px;
  width: 100%;
  object-fit: cover;

}

.dropdown-styling {
  display: flex;
    justify-content: center;
    margin: auto;
}

.card {
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0.6px rgba(0,0,1,0.04);
  border: none;
}
.card:hover {

    transform: scale(1.05);
    transition: 0.2s;
}

// .category:hover {
//     background-color: #04AD8A;
// }

.form-control {
  display: flex;
  justify-content: center;
  width: 40%;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  box-sizing: border-box;

}


// button {
//   background-color: Transparent !important;
//   background-repeat:no-repeat !important;
//   border: none !important;
//   overflow: hidden;
//   position: absolute;
//   right: 14px;
//   bottom: 15px;
//   &:hover {
//   transform: scale(1.1);
//   text-decoration: none;
//   }
// }

.dropdown-styling {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-body {
  background-color: rgba(249, 249, 249, 0.95);
  border-radius: 8px;
  padding: 0;

  .btn {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  bottom: 0;
  background-color: $orange;
  color: white;
  padding: 18px;


  }
}

