

.card-title {
  color: black;
  padding: 7px 0;
  align-items: flex-end;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.add-to-order {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;

}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-img-top {
  height: 150px;
  width: 100%;
  object-fit: cover;

}

.dropdown-styling {
  display: flex;
    justify-content: center;
    margin: auto;
}

.card {
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0.6px rgba(0,0,1,0.04);
  border: none;

  .add-btn i {
    color: rgba(255,255,255,0)

  }

}
.card:hover {

    transform: scale(1.05);
    transition: 0.2s;

    .add-btn i {
      color: #F3D84B;
    }
}

.category:hover {
    background-color: #04AD8A;
}

.form-control {
  display: flex;
  justify-content: center;
  width: 40%;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  box-sizing: border-box;

}

.full-search-bar {
  display:flex;
}

button {
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  border: none !important;
  overflow: hidden;
  position: absolute;
  right: 14px;
  bottom: 15px;
  &:hover {
  transform: scale(1.1);
  text-decoration: none;
  }
}

.dropdown-styling {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-body {
  background-color: #f9f9f9;
  border-radius: 8px;
}

body {
  background-color: #E2FCF6;
}

