.category {
  display: flex;
  align-items: center;
  padding: 6px 23px 6px 12px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.4s;
  text-decoration: none;
  color: black;
  font-size: 12px;
  line-height: 16px;

  img.icon {
    margin-right: 12px;
    height: 23px;
    width: 23px;

  }
}
.cat-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.category:hover {
  text-decoration: none;
  transform: scale(1.1);
  text-decoration: none;
}
