.category {
  display: flex;
  justify-content: space-around;
  text-align: center;
  display: inline-block;
  padding: 7px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.4s;
  line-height: 20px;
  margin: 16px;
  width: 140px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: none;
}

