.category {
  text-align: center;
  display: inline-block;
  padding: 7px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.4s;
  line-height: 20px;
  width: 15%;
  text-decoration: none;
}
.cat-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.category:hover {
  text-decoration: none;
  color: #005244 !important;
  transform: scale(1.1);
  text-decoration: none;
}
