.comparison-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #00B495;
}

.comparison-card {
  padding: 15px;
  background-color: #F9F9F9;
  text-align:  center;
  margin: auto;
  border-radius: 25px;
  border: 3px solid #70C6FF;
  box-shadow: 4px 4px 4px 0.6px rgba(0,0,1,0.04);
}

.button-styling {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.big-card {
  width: 25%;
  height:590px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-card {
  width: 20%;
  height:400px;
  // margin-left: ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-card-left {
  margin-left: 230px;
}

.small-card-right {
  margin-right: 230px;
}

.seed {
  height: 80px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}
.big-tree {
  height: 150px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.medium-tree {
  height: 80px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}

.tesco {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.morrisons{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.ocado {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.view-bskt-btn:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
