.container-top {
  width: 100vw;
  display: flex;
  background: white;
  height: 50%;
}

.comparison-all {
  position: relative;
  height: calc(100vh - 126px);
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 280px);
    top: 280px;
    left: 0;
    background-color: #F6F6F6;
    z-index: -1;
  }
}

.comparison-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 976px;
  margin: 0 auto;
  height: 55vh;
}

.comparison-card {
  background-color: #FFFFFF;
  text-align:  center;
  border-radius: 14px;
  border: 1px solid #d2e861;
  box-shadow: 4px 4px 4px 0.6px rgba(0,0,1,0.04);
}

.button-styling {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.comparison-emission {
  font-size: 30px;
  font-weight: bolder;
  margin: 0 10px 0 0;
}

.big-card {
  width: 33%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
  margin-left: 24px;
  margin-right: 24px;
  &:hover {
    transform: scale(1.02);
    transition: 0.2s;
    a {
      text-decoration: none;
    }
  }
  #big-img {
    width: 200px;
    margin-bottom: 8px;
  }
}

.small-card {
  width: 33%;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.small-card-left {
  margin-left: 235px;
}

.small-card-right {
  margin-right: 235px;
}

.tesco {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.morrisons{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.ocado {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.view-bskt-btn:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.emits {
  font-weight: bolder;
  color: black;
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: 0px;

}

.orange-emits {
    color: #FD6D24;
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

.emits-small {
  font-weight: bolder;
  color: #1D191A;
  font-size: 24px;
}

.price-tag {
  font-size: 14px;
  color: #1D191A;
  margin-top: -5px;
}

.info-bottom {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: white;
  background: $yellow;
  border-radius: 30px 30px 0px 0px;
  padding: 40px 30px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  max-width: 620px;

  p {
    margin: 0;
    padding-left: 20px;
    text-align: justify;
    z-index: 10;
  }
}

#img-testimonial-comparison {
  img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
  }
}

.comparison-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  .emits-small {
    font-size: 40px;
    font-family: sans-serif;
    color: #1D191A;
  }

  .comparison-details {
    padding-left: 10px;
    text-align: left;
    padding-bottom: 10px;
  }
}

.big-card-emits {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

.card-bottom {
  height: 30%;
  width: 100%;
  background-color: $green;
  border-radius: 0  0 13px 13px;
      display: flex;
    justify-content: center;
    flex-direction: column;
  a {
    font-weight: bold;
    color: white;
    font-size: 21px;
  }
}

.card-top {
  height: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
}

.leafy {
  width: 100%;
  border-radius: 14px;
}

.1leaf {
  width: 100%;
  border-radius: 14px;
}

.background-retailer {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 1140px;
    background-color: #FDB548;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.basket-link {
  margin: 0px;
}
