#emitless-logo {
  width: 183.79px;
  height: 54.96px;
  position: absolute;
  left: -27px;
  top: 39px;
}

.navbar-container {
  margin: 0;
  padding: 10px 0;
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container-home {
  margin: 0 155px;
  padding: 10px 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-btn {
  font-weight: light;
  font-size: 18px;
  line-height: 25px;
  color: #1D191A;
  margin: 3px 0 0 30px;
  padding: 22px 0 0 0;
  text-align: center;
  &:hover {
    border-top: 3px solid #D2E861;
    text-decoration: none;
    color: #1D191A;
    font-weight: bold;
  }
}

.progression-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: auto;
}

ol {
  list-style-type: none;
  margin-left: 0;
  text-align: center;
}

ol > li {
  counter-increment: customlistcounter;
  margin-bottom: 1em;
  display: inline-block;
}

ol > li:before {
  content: counter(customlistcounter) "";
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: $orange;
  margin-right: .4em;
  padding: .3em .7em .3em;
  border-radius: 15em;
}

.progression-bar-text {
  font-size: 15px;
  font-weight: 300;
  opacity : 0.4;
}

.progression-bar-separator {
  padding: 0 15px;
  border-top: 2.4px solid $green;
  position: relative;
  top: 12px;
  margin: 0 7px;
}

.active {
  opacity: 1;
}

.navbar {
  max-width: 1140px;
  margin: 0 auto;
}

