.emitless-pdf-logo {
  width: 200px;
}

#retail-logo {
  width: 100px;
}

.pdf-logo-emits {
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    margin: 0;
  }
}

.bottom-pdfpart {
  margin: 0 150px;
}

.pdf-product-infos {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
}

