.detailed-basket-container {
  text-align: center;
  margin: 0 150px;
}

.top-page {
  border-top: 1px solid $orange;
}

.header-top-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-btn {
  background-color: $green;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #C6DA62;

  &:hover {
    text-decoration: none;
    color: #212529;
  }
}

.farmer-text {
  display: flex;
  text-align: left;
  padding: 50px 0 60px 0;

  > p {
    margin: 0 12px;
    color: #686868;
    margin-bottom: 0;
    width: 60%;
    font-size: 16px;
  }

  > img {
    height: 45px;
  }
}

.logo-emits {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 15px 0;
  > img {
    margin-right: 40px;
  }
}

.emit-price {
  text-align: left;
}

.basket-headers {
  text-transform: uppercase;
}

.final-emission {
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
  margin-right: 10px;
}

.final-price {
  margin: 0;
  color: #686868;
  font-size: 14px;
}

.product-infos > .number-text {
  transform: scale(0.7);
}

.final-price.item {
  font-size: 16px;
}

.basket-product-cards {
  margin-bottom: 50px;
}

.cart {
  border-top: 1px solid #CFCFCF;
}

.product-card {
  width: 50%;
  // height: 100px;
  background: white;
  // border-top: 1px solid #CFCFCF;
  padding: 60px 16px;
  margin: 3px 0;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.product-infos-left {
  text-align: left;

  > h5, p {
    margin: 0;
    padding: 6px 0;
  }
}

.product-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.product-infos {
  margin: 0;
  padding: 10px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  > h5 {
    font-size: 17px;
    font-weight: semi-bold;
    padding-bottom: 5px;
  }
  > p {
    font-size: 13px;
  }
}

.product-card.swap {
  &:hover {
    transform: scale(1.01);
  }
}

.product-card.swap * {
  transform: scale(0.9);
}

.basket-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-logo-basket {
  width: 20%;
}

.number-text {
  display: flex;
  align-items: center;
}

.swapbutton {
  width: 90px;
  transition: 0.3s;
  z-index: 6;
  &:hover {
    transform: scale(1.1);
  }
}

.green {
  color: $green;
  font-weight: bold;
}

.move-out {
    // animation: spin 2s linear infinite;

}

