.detailed-basket-container {
  text-align: center;
  margin: 0 150px;
}

.top-page {
  border-top: 1px solid $orange;
}

.header-top-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-btn {
  background-color: $green;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #C6DA62;

  &:hover {
    text-decoration: none;
    color: #212529;
  }
}

.farmer-text {
  display: flex;
  text-align: left;
  padding: 50px 0 60px 0;

  > p {
    margin: 0 12px;
    color: #686868;
    margin-bottom: 0;
    width: 60%;
    font-size: 16px;
  }

  > img {
    height: 45px;
  }
}

.logo-emits {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 15px 0;
  > img {
    margin-right: 40px;
  }
}

.emit-price {
  text-align: left;
}

.basket-headers {
  text-transform: uppercase;
}

.final-emission {
  font-size: 50px;
  font-weight: bolder;
  margin: 0 10px 0 0;
}

.final-price {
  margin: 0;
  color: #686868;
  font-size: 14px;
}

.product-infos > .number-text {
  transform: scale(0.7);
}

.final-price.item {
  font-size: 16px;
}

.basket-product-cards {
  margin-bottom: 50px;
}

.cart-grid {
  border-top: 1px solid #CFCFCF;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 15px 15px;
  grid-template-rows: auto;
  // align-items: stretch;
}

.full-product-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.product-card {
  background: white;
  // border-top: 1px solid #CFCFCF;
  padding: 0px 16px;
  margin: 3px 0;
  display: flex;
  align-items: center;
  transition: 0.3s;
  .out {
    padding-left: 0;
  }
 .in {
   padding-right: 0;
 }
}

.product-infos-left {
  text-align: left;
  padding-right: 10px;
  > h5, p {
    margin: 0;
    padding: 6px 0;
  }
}

.product-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.product-infos {
  margin: 0;
  padding: 10px 15px;
  width: 75%;
  display: flex;
  align-items: center;
  > h5 {
    font-size: 17px;
    font-weight: semi-bold;
    padding-bottom: 5px;
  }
  > p {
    font-size: 13px;
  }
}

.product-card.swap {
  &:hover {
    transform: scale(1.01);
  }
}

.product-card.swap * {
  transform: scale(0.9);
}

.basket-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-logo-basket {
  width: 20%;
}

.number-text {
  display: flex;
  align-items: center;
}

.swap-button {
  width: 80px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.green {
  color: $green;
  font-weight: bold;
}

.move-out {
  animation: card-out 2s linear forwards;
}

@keyframes card-out {
  0% { transform: translate(0, 0); }
  25% { transform: translate(0, -50px); }
  75% { transform: translate(665px, -50px)}
  100% { transform: translate(665px, 0); }
}

.move-in {
  animation: card-in 2s linear forwards;
}

@keyframes card-in {
  0% { transform: translate(0, 0); }
  25% { transform: translate(0, 50px); }
  75% { transform: translate(-665px, 50px)}
  100% { transform: translate(-665px, 0); }
}
