.search-bar .form-control {
  width: 20vw;
  border-radius: 8px;
  padding: 12px;
  height: auto;
  background-color: $light-gray;
}

.search-btn {
  border-radius: 8px;
  margin-left: 4px;
  color: white;
  padding: 12px;
  min-width: 220px;
  background-color: AFE43A;
}

.full-search-bar {
  display:flex;
  position: sticky;
}
