<div class="product-container">
  <div class="product-img">
    <img src="<%= item.image %>" class="card-img-top" alt="...">
  </div>
  <div class="product-infos">
    <h5 class="card-title"><%= item[:name].capitalize %></h5>
    <h6 class="product_quantity"><%= item. %></h6>
  </div>
</div>
