
<div class="col-3 mb-4">
  <div class="card">
    <img src="<%= item.image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
        <form action="/order_item">
          <input type="submit" class="add-to-order btn-primary btn-sm" value="Add to order">
          <select name="" id="" class="dropdown-styling">
            <option value="200g">200g</option>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
          </select>
        </form>
    </div>
  </div>
</div>


