<div class="product-card">
  <%= image_tag "https://images.unsplash.com/photo-1502741338009-cac2772e18bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjk0Mzg0fQ&auto=format&fit=crop&w=2100&q=80", class: 'product-image', alt: "alttext" %>
  <div class="product-infos">
    <div class="product-infos-left">
      <h5 class="product-name">Blueberry Tesco</h5>
      <p class="product-quantity">300g</p>
    </div>
    <div class="product-infos-right">
      <h5 class="product-emits">35 emits</h5>
      <p class="product-price">£200</p>
    </div>
  </div>
</div>
