<!DOCTYPE html>
<html>
  <head>
  <title>PDF</title>
    <%= wicked_pdf_stylesheet_link_tag "application.css" -%>
    <%= wicked_pdf_stylesheet_link_tag "bootstrap.css" %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
